# use glob syntax.
syntax: glob

*.o
*.f
*.f90
*~
*.pyc

bin/enzo
bin/inits
TAGS
DEPEND
DEPEND.bak
auto_show_*.C
enzo.exe
inits.exe
ring.exe
anyl.exe
enzohop.exe
out.compile
out.make.DEPEND
svn_version.def
temp.show-*
Make.config.machine
Make.config.override
*.mod

src/mpgrafic/degraf/Makefile
src/mpgrafic/degraf/config.h
src/mpgrafic/degraf/config.log
src/mpgrafic/degraf/config.status
src/mpgrafic/degraf/src/.deps/parallel_io.Po
src/mpgrafic/degraf/src/Makefile
src/mpgrafic/degraf/src/degraf
src/mpgrafic/degraf/stamp-h1
src/mpgrafic/mpgrafic-0.2/Makefile
src/mpgrafic/mpgrafic-0.2/config.h
src/mpgrafic/mpgrafic-0.2/config.log
src/mpgrafic/mpgrafic-0.2/config.status
src/mpgrafic/mpgrafic-0.2/src/.deps/parallel_io.Po
src/mpgrafic/mpgrafic-0.2/src/Makefile
src/mpgrafic/mpgrafic-0.2/src/params.in
src/mpgrafic/mpgrafic-0.2/src/mpgrafic
src/mpgrafic/mpgrafic-0.2/src/*.dat
src/mpgrafic/mpgrafic-0.2/stamp-h1
src/mpgrafic/degraf/autom4te.cache/

src/P-GroupFinder/P-GroupFinder

doc/manual/build

run/results.js
