BODY {
  background: #eee;
  color: #000;
  font-family: "Gill sans", sans-serif; 
  font-size: 12pt;
  width: 900px;
}

BLOCKQUOTE {
  color: #000;
}

I {
  color: #000;
}

LI.new {
  font-weight: bold;
}

UL {
  color: #003;
  list-style-type: disk;
}

H1 {
  font: bold huge "Gill sans", sans-serif;
  color : #00b;
  background-color : #bbf;
}

H2 {
  font: bold  "Gill sans", sans-serif;
  color : #00b;
  background-color : #ccf;
}
 
H3 {
  font: "Gill sans", sans-serif;
  color : #00b;
  background-color : #ddf;
}

CODE {
  color: #00f;
}
 
P {
  color: #000;
}
 
P.title {
  color: black;
}
 
A:visited {
  color: #770;
}
A:link {
  color: #070;
}
A:label {
  color: #003;
}

A:link STRONG {
  color: #003;
}

