= Enzo compilation requirements =

Enzo can be compiled on any POSIX-compatible operating system, such as Linux, BSD (including Mac OS X), and AIX.  In addition to a C/C++ and Fortran-90 compiler, the following libraries are necessary:

 * [http://hdf.ncsa.uiuc.edu/HDF5/  HDF5], the hierarchical data format.  Note that HDF5 also may require the szip and zlib libraries, which can be found at the HDF5 website.  Enzo v1.5 requires HDF5 v1.8.0 or better for some of its functionality.
 * [http://www-unix.mcs.anl.gov/mpi/ MPI], the Message-Passing Interface

In addition, the parallel inline analysis tools can optionally use:

 * [http://sprng.cs.fsu.edu/ SPRNG, the Scalable Parallel Random Number Generator]
 * [http://www.libpng.org/pub/png/libpng.html The PNG library]
 * [http://www.gnuplot.info/ GNUPlot]
